/* FONT */

h1, h2 {
        font-family: 'Hammersmith One', sans-serif;
        text-align: center;
}

h3, strong {
    font-family: 'Hammersmith One', sans-serif;
    text-align: left;
}

p, a, li, footer, span, sup, figcaption, .desc {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
} 



/* PADDING */

main {
    padding-left: 40px;
    padding-right: 40px;
}
main p{
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

main h3 {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}


/* NAV */

ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

li {
    display: inline;
    margin-right: 20px;
    text-align: right;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #202020;
}

/* MAIN DIVs */

.overview {
    background-color: #3D5A80;
    padding-top: 20px;
    padding-bottom: 20px;
    color:white;
}
.project {
    padding-top: 20px;
    padding-bottom: 20px;
}

.aims span{
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.design {
    padding-top: 20px;
    padding-bottom: 20px;
}

.Ratto img{
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.challenges{
    padding-top: 40px;
    padding-bottom: 20px;
} 

.aspects {
    display: flex;
    background-color: #3D5A80;
    color:white;
    padding-top: 20px;
    padding-bottom: 20px;

}
.references {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
    }

.row {
    display: flex;
}
.column {
    flex: 45%;
    align-items: center;

}

.reflections {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* GALLERY */

div.gallery {
    border: 1px solid #ccc;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
}
div.gallery:hover {
    border: 1px solid #293241;
}
div.desc {
padding: 15px;
text-align: center;
}

* {
box-sizing: border-box;
}

.responsive-left {
padding: 0 40px;
float: left;
width: 39.99999%;
}
.responsive {
    float: left;
    }
.responsive-right {
    padding: 0 40px;
    float: right;
    width: 39.99999%;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

/* FOOTER */

.links-footer{
    font-size: 0.8em; 
    text-align: right;
    color: darkblue;
    text-decoration: underline;
    padding-right: 30px;
}

.copyright p{
    font-size: 0.8em; 
    text-align: center;
}

.land-back p{
    font-size: 0.8em; 
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}

/* FAUX BUTTONS */

span{
    border-radius: 10px;
    background-color: #293241;
    color: white;
    padding: 15px 32px;
}