/* FONT */

h1, h2, h3 {
        font-family: 'Hammersmith One', sans-serif;
        color: #333;
        text-align: center;
}

p, a, li, footer {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-align: left;
} 

/* PADDING */

main{
    padding-bottom: 20px;
}

/* NAV */

ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

li {
    display: inline;
    margin-right: 20px;
    text-align: right;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #202020;
}

/* GALLERY */

div.gallery {
    border: 1px solid #ccc;
}
div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
padding: 15px;
text-align: center;
}

* {
box-sizing: border-box;
}

.responsive-left {
padding: 0 40px;
float: left;
width: 39.99999%;
}
.responsive {
    float: left;
    }
.responsive-right {
    padding: 0 40px;
    float: right;
    width: 39.99999%;
    }

/* FOOTER */

.links-footer {
    font-size: 0.8em; 
    text-align: right;
    color: darkblue;
    text-decoration: underline;
    padding-right: 30px;
}

.copyright{
    text-align: center;
    font-size: 0.8em; 
}

.land-back{
    text-align: justify;
    font-size: 0.8em; 
    padding: 30px;
}
