/* FONT */

h1, h2, h3 {
        font-family: 'Hammersmith One', sans-serif;
        text-align: center;
}

p, a, li, footer, span {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
} 

/* PADDING */

main{
    padding-bottom: 20px;
    padding-left, padding-right: 30px;
}

/* NAV */

ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

li {
    display: inline;
    margin-right: 20px;
    text-align: right;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #202020;
}

/* MAIN DIVs */

.overview {
    background-color: #3D5A80;
    color:white;
}
.project {

}

.aims {
    float: center;
}

.design {

}
.challenges {

}
.references {

}

.row {
    display: flex;
}
.column {
    flex: 50%;

}

/* GALLERY */

div.gallery {
    border: 1px solid #ccc;
}
div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
padding: 15px;
text-align: center;
}

* {
box-sizing: border-box;
}

.responsive-left {
padding: 0 40px;
float: left;
width: 39.99999%;
}
.responsive {
    float: left;
    }
.responsive-right {
    padding: 0 40px;
    float: right;
    width: 39.99999%;
    }

/* FOOTER */

footer p{
    text-align: center;
}

.links-footer {
    font-size: 0.8em; 
    text-align: right;
    color: darkblue;
    text-decoration: underline;
    padding-right: 30px;
}

.copyright{
    font-size: 0.8em; 
    padding: 30px;
}

.land-back{
    font-size: 0.8em; 
    padding: 30px;
}

/* FAUX BUTTONS */

span{
    border-radius: 10px;
    background-color: #293241;
    color: white;
    padding: 15px 32px;
    text-align: center;
}